* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: #fff;
  font-family: system-ui;
}

.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

input {
  border: none;
  outline: none;
  margin: 4px 0;
  width: 100%;
  height: 30px;
  background-color: #111;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}
input:focus {
  background-color: #000;
  transform: scale(1.1);
}
.price input {
  width: 20%;
}
#total {
  background-color: rgb(144, 35, 35);
  padding: 5px 2px;
  border-radius: 4px;
}
#total::before {
  content: "total : ";
}
button {
    margin: 5px 0;
  width: 100%;
  height: 30px;

  border: none;
  background-color: cadetblue;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: brown;
  letter-spacing: 1px;
}

.btnsearch {
  display: flex;
  justify-content: space-between;
}

.btnsearch button {
  width: 45%;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
